{% extends "home.html" %}

{% block content %}
<div class="container">
  <h1> Click here to store all the csv data from file </h1>
  <form method='POST' action=''>
  <input type="submit" value ="Register in Database">
  </form>
  </div>
  {% endblock content %}