
<html>

<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<div class="container">

  <h1>Person Details</h1>

  <table id="Detail" class="table table-striped table-bordered" cellspacing="0" width="100%">
    
    <thead>
      <tr>
                          <!--   
                                            <thead>
                                                 {% for item in elems %}
  
                                                   {% if item %}<tr>{% endif %}
                                                             <th>{{ item }}</th>
                                                                   {% if not item %}
                                                                     </tr>
                                                                 {% endif %}
                                                              {% endfor %}
                                                                    </thead>   -->  






    
        <th>sno</th>  
        <th>Name</th>
        <th>Address</th>
        <th>Salary</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Rollno</th>
      </tr>
    </thead>
    
    <tbody>
    {% for item in tab %}
      <tr>
        <td>{{ item.sno }}</td>
        <td>{{ item.Name }}</td>
        <td>{{ item.Address }}</td>
        <td>{{ item.Salary }}</td>
        <td>{{ item.City}}</td>
        <td>{{ item.State }}</td>
        <td>{{ item.Zipcode }}</td>
        <td>{{ item.Phone }}</td>
        <td>{{ item.Age }}</td>
        <td>{{ item.Rollno }}</td>
      </tr>
      {% endfor %}
      </tbody>
      </table>
      </div>
      <script type="text/javascript">
	$(document).ready(function() {
  $('#Detail').dataTable();
});
</script>
      </html>