{% load columns %}
<html>

<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<div class="container">

  <h1>Person Details</h1>

<div class="row">
    {% for col in list_display %}
        <div class="col-md-1">
            
                <div class="item">{{ item }}</div>
            
        </div><!-- /col-md-4 -->
    {% endfor %}
</div><!-- /row -->